---
language: python

cache:
  directories:
    - /home/travis/.rvm
    - /home/travis/.cache/pip
    - /home/travis/virtualenv

python: 3.6

# Install ansible
install:
  - ln -s $( basename $PWD ) ../locp.cassandra
  - bundle install
  - pip install -Ur requirements.txt
  - pip freeze

script:
  - bundle exec travis lint --skip-completion-check --exit-code
  - bundle exec rubocop -ES
  - molecule test --destroy never
  - molecule test --destroy=never --scenario-name node_2_join_cluster
  - molecule test --destroy=never --scenario-name node_3_join_cluster

notifications:
  webhooks:
    urls:
      - https://galaxy.ansible.com/api/v1/notifications/
      - https://webhooks.gitter.im/e/eee7ec1dcb85c454573a
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always

jobs:
  include:
    - env: DOCKER_COMMAND="/usr/sbin/init"
           DOCKER_IMAGE="centos"
           DOCKER_TAG_1="7"
           DOCKER_TAG_2="8"
    - env: DOCKER_IMAGE="debian"
           DOCKER_TAG_1="9"
           DOCKER_TAG_2="10"
    - env: DOCKER_COMMAND="/usr/sbin/init"
           DOCKER_IMAGE="fedora"
           DOCKER_TAG_1="30"
           DOCKER_TAG_2="31"
    - env: DOCKER_IMAGE="ubuntu"
           DOCKER_TAG_1="18.04"
           DOCKER_TAG_2="20.04"
