---

- name: CASSANDRA-15770 Workaround
  ansible.builtin.lineinfile:
    line: '    start-stop-daemon -K -u cassandra -p "$PIDFILE" -R TERM/30/KILL/5 >/dev/null'
    path: /etc/init.d/cassandra
    regexp: '^.*start-stop-daemon -K.*$'
  when:
    - cassandra_15770_workaround | bool
    - not ansible_check_mode

- name: CASSANDRA-2356 Workaround
  ansible.builtin.shell: rm -rf /var/lib/cassandra/*  # noqa deprecated-command-syntax
  when:
    - cassandra_2356_workaround | bool
    - not ansible_check_mode
