[Unit]
Description=Cassandra Service

[Service]
Type=forking
PIDFile=/var/run/cassandra/PID

ExecStart=/usr/sbin/cassandra -p /var/run/cassandra/PID

WorkingDirectory=/var/lib/cassandra
Restart=always
RestartSec=60
TimeoutStopSec=60
TimeoutStartSec=60
User=cassandra

[Install]
WantedBy=multi-user.target
